#date-picker {
    position: absolute;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);

    table {
        min-width: 210px;
    }
 
    .date-different-month {
         color: lightgray
     }
 
     input[name="date-input-value"] {
         display: none;
 
         & + label > div {
             width: 100%;
             height: auto;
             border-radius: 50%;
             text-align: center; 
         }
         
         
     }
 
     input[name="date-input-value"]:checked + label > div {
         background-color: lightgray;
     }

     #month-next-button {
         float: right;
     }

     #month-prev-button {
         float: left;
     }
 }

 #calendar-reset-button {
    a {
        font-weight: normal;
        cursor: pointer;    
    }
}

#month-switcher {
    a {
        font-weight: normal;
        cursor: pointer;
    }
}
 