#sdp-date-picker {
    position: absolute;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
 
    .sdp-different-month {
         color: lightgray
     }
 
     input[name="sdp-date-value"] {
         display: none;
 
         & + div {
             width: 24px;
             height: 24px;
             border-radius: 50%;
             display: flex;
             justify-content: center;
             align-items: center;
         }

         &:checked + div {
            background-color: lightgray;
        }
        
        &:not(:checked):hover + div {
            background-color: lightblue;
        }
     }
 
     #sdp-month-next-button {
         float: right;
     }

     #sdp-month-prev-button {
         float: left;
     }
 }

 #spd-monthYear {
     padding: 0 10px;
 }

#spd-reset-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

#sdp-month-switcher {
    a {
        font-weight: normal;
        cursor: pointer;
    }
}
 